@model PagedList.IPagedList<LMS.Models.Loan>
@using PagedList.Mvc

@{
    ViewBag.Title = "Loan";
	ViewBag.TitleSmall = "All";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <a class="btn btn-primary pull-right" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Add</a>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().BookCopy.Location)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().LoanType.Name)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().Member.FirstName)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().IssuedOn)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().ReturnedOn)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().LoanCharge)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().PenaltyCharge)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().DueDate)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().LoanedByID)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().LastUpdatedBy)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().LastUpdated)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						@foreach (var item in Model) {
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.BookCopy.Location)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.LoanType.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Member.FirstName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.IssuedOn)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.ReturnedOn)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.LoanCharge)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.PenaltyCharge)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.DueDate)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.LoanedByID)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.LastUpdatedBy)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.LastUpdated)
								</td>
								<td>
									<a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id=item.ID })"><i class="fa fa-edit"> </i> Edit</a>
									<a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id=item.ID })"><i class="fa fa-trash"> </i> Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="box-footer clearfix">
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
		</div>
	</div>
</div>
