@model PagedList.IPagedList<LMS.Models.BookCopy>
@using PagedList.Mvc

@{
    ViewBag.Title = "BookCopy";
	ViewBag.TitleSmall = "All";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <a class="btn btn-primary pull-right" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Add</a>
                <div class="box-header pull-left">
                    @using (Html.BeginForm())
                    {
                        <p>
                            Search &nbsp;
                            @Html.TextBox("SearchString")
                            <input type="submit" value="Search" />
                        </p>
                    }
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().Book.Name)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().CopyNumber)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().Location)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().Available)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().LastUpdatedBy)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().LastUpdated)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						@foreach (var item in Model) {
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Book.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.CopyNumber)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Location)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Available)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.LastUpdatedBy)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.LastUpdated)
								</td>
								<td>
									<a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id=item.ID })"><i class="fa fa-edit"> </i> Edit</a>
									<a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id=item.ID })"><i class="fa fa-trash"> </i> Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="box-footer clearfix">
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
		</div>
	</div>
</div>
