@model PagedList.IPagedList<LMS.Models.Book>
@using PagedList.Mvc

@{
    ViewBag.Title = "Book";
	ViewBag.TitleSmall = "All";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <a class="btn btn-primary pull-right" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Add</a>
                @*<div class="box-header pull-left">
                    
                </div>*@
            </div>
            <div class="row">
                <div class="col-sm-8" style="margin-left: 12px; margin-top:18px">
                    @using (Html.BeginForm())
                    {
                        <p>
                            @Html.TextBox("SearchString")
                            <input type="submit" value="Search" />
                        </p>
                    }
                </div>
                <div class="col-sm-2 pull-right" style="margin-right:10px">
                    Sort By
                    <select class="form-control">
                        <option id="1">Published Date</option>
                    </select>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
					<thead>
						<tr>
							<th>
								Press Name
							</th>
							<th>
								Publisher Name
							</th>
							<th>
								Book Name
							</th>
                            <th>
                                Number of Copies
                            </th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().ISBN)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().PublishedDate)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().Charge)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().PenaltyCharge)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().LastUpdatedBy)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FirstOrDefault().LastUpdated)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						@foreach (var item in Model) {
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Press.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Publisher.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Name)
								</td>
                                <td>

                                </td>
								<td>
									@Html.DisplayFor(modelItem => item.ISBN)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.PublishedDate)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Charge)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.PenaltyCharge)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.LastUpdatedBy)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.LastUpdated)
								</td>
								<td>
									<a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id=item.ID })"><i class="fa fa-edit"> </i> Edit</a>
									<a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id=item.ID })"><i class="fa fa-trash"> </i> Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="box-footer clearfix">
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
		</div>
	</div>
</div>
